page-beneficiaries {
  .button-float{
    z-index: 12;
    box-shadow: 0 2px 5px 0 gainsboro;
    position: fixed !important;
    background: #46a4da;
    bottom: 15px;
    right: 15px;
    font-size: 30px;
    border-radius: 50% !important;
  }

}
