.delta {
  transform-origin: center;
  width: 13px;
  height: auto;
  position: relative;
  top: -1px;

  polygon {
    stroke: map-get($colors, success);
    fill: map-get($colors, success);
  }

  &.negative {
    transform: rotate(180deg);
    polygon {
      stroke: map-get($colors, danger);
      fill: map-get($colors, danger);
    }
  }
}
