// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@font-face {
  font-family: 'icomoon';
  src: url($font-path + '/icomoon.eot?kg1csh');
  src: url($font-path + '/icomoon.eot?kg1csh#iefix') format('embedded-opentype'),
  url($font-path + '/icomoon.ttf?kg1csh') format('truetype'),
  url($font-path + '/icomoon.woff?kg1csh') format('woff'),
  url($font-path + '/icomoon.svg?kg1csh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

//$colors: (
//  primary: #97B2D6,
//  secondary: #2C466B,
//  secondary-light: #4E698D,
//  secondary-dark: #1F3A5E,
//  danger: #c15c5c,
//  success: #2ac855,
//  light: #97B2D6,
//  dark: #1F3A5E
//);

$colors: (
  primary: #000000,
  primary-light: #3f51b5,
  primary-dark: #85929E,
  secondary: #000000,
  secondary-light: #ffffff,
  secondary-dark: #85929E,
  tertiary: #9A4B5E,
  danger: #c35757,
  success: #2ac855,
  light: #AEB6BF,
  dark: #41303A
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "variables/generic";
@import "variables/buttons";
@import "variables/grid";
@import "variables/action-sheet";
@import "variables/searchbar";
@import "variables/list";
@import "variables/segment";
@import "variables/tabs";
@import "variables/toolbar";
@import "variables/refresher";
@import "variables/item";
@import "variables/toast";
@import "variables/loaders";

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";