<!--
  Generated template for the AccountsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Accounts</ion-title>
  </ion-navbar>

<ion-toolbar>
  <ion-segment [(ngModel)]="default">
    <ion-segment-button value="savings">
      Savings
    </ion-segment-button>
    <ion-segment-button color="light" value="loan">
      Loan
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
</ion-header>

<ion-content>
  <div (tabChanged)="onTabChanged($event)" [currentTab]="default" [ngSwitch]="default" [tabsList]="categories" class="swipe-area" swipe-segment>
    <ion-list *ngSwitchCase="'savings'" >
      <ion-list *ngFor="let x of savingsAccountsList">
        <ion-card padding="5%" padding-left="10%" (click)="viewAccountDetails()">
          <ion-card-title>{{ x.accountNo }}</ion-card-title>
          <div class="row">
            <div class="col">
            {{x.productName}}
            </div>
            <div class="col">
              <ion-icon *ngIf="x.status.value ==='Active'" name="checkmark-circle"></ion-icon>
              <ion-icon *ngIf="x.status.value !='Active'" name="alert"></ion-icon>
            </div>
            </div>
        </ion-card>
      </ion-list>
      <button (click)="applySavingsAccount()" class="button-float" fab fab-bottom fab-right>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-list>

    <ion-list *ngSwitchCase="'loan'">
      <ion-list *ngFor="let y of loanAccountsList">
        <ion-card padding="5%" padding-left="10%">
          <ion-card-title>{{ y.accountNo }}</ion-card-title>
          {{y.productName}}
        </ion-card>
      </ion-list>
    </ion-list>

  </div>
</ion-content>
