page-account-details {
  .style-main{
    font-size: 1.25em;
    font-weight: revert;
  }

  .style-sub{
    margin-bottom: 8px;
    font-weight: lighter;
  }

  .style-header{
    font-size: 1.5em;
  }

  .style-button{
    font-size: 3em;
  }
  .style-button-text{
    font-size: 1.5em;
    text-align: end;
  }

}
