$font-size-base: 1.6rem;
$font-family-base: 'Oswald', sans-serif;
$text-color: map-get($colors, light);
$text-color-dark: map-get($colors, dark);
$background-color: map-get($colors, secondary-light);
