chartjs {
  display: block;
  height: 100%;

  .custom-chart {
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden;
    background: map-get($colors, secondary-dark);

    .scrubberX {
      position: absolute;
      top: 0;
      right: -50px;
      width: 16px;
      height: 100%;
      background: rgba(149, 173, 193, 0.2);
      z-index: 99;
    }

    .scrubberY {
      position: absolute;
      top: 0;
      left: 50%;
      height: 0;
      width: 2px;
      transform: translateX(-50%);
      background: $text-color;
      z-index: 99;
    }

    ion-spinner {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
}
