<custom-chart *ngIf="!!priceHistoryList; else noChart"
              [view]="view"
              [scheme]="colorScheme"
              [results]="data"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [autoScale]="autoScale"
              [timeline]="false"
              [curve]="curve"
              (select)="onScrub($event)"
              (touchEnd)="onScrubEnd()">
</custom-chart>
<!--<div *ngIf="timestamp" class="timestamp">{{timestamp}}</div>-->
<ng-template #noChart>
  <ion-spinner name="crescent"></ion-spinner>
</ng-template>
