<svg:g xmlns:svg="http://www.w3.org/2000/svg">
  <svg:rect
    class="tooltip-area"
    [attr.x]="0"
    y="0"
    [attr.width]="dims.width"
    [attr.height]="dims.height"
    style="opacity: 0; cursor: 'auto';"
    (mousemove)="mouseMove($event)"
    (touchmove)="touchMove($event)"
    (touchend)="hideTooltip()"
    (mouseleave)="hideTooltip()"
  />
  <xhtml:ng-template #defaultTooltipTemplate let-model="model" xmlns:xhtml="http://www.w3.org/1999/xhtml">
    <xhtml:div class="area-tooltip-container">
      <xhtml:div
        *ngFor="let tooltipItem of model"
        class="tooltip-item">
            <span
              class="tooltip-item-color"
              [style.background-color]="tooltipItem.color">
            </span>
        {{getToolTipText(tooltipItem)}}
      </xhtml:div>
    </xhtml:div>
  </xhtml:ng-template>
  <svg:rect
    #tooltipAnchor
    [@animationState]="anchorOpacity !== 0 ? 'active' : 'inactive'"
    class="tooltip-anchor"
    [attr.x]="anchorPos"
    y="0"
    [attr.width]="3"
    [attr.fill]="color"
    [attr.height]="dims.height"
    [style.opacity]="anchorOpacity"
    [style.pointer-events]="'none'"
    ngx-tooltip
    [tooltipDisabled]="tooltipDisabled"
    [tooltipPlacement]="'right'"
    [tooltipType]="'tooltip'"
    [tooltipSpacing]="15"
    [tooltipTemplate]="tooltipTemplate ? tooltipTemplate: defaultTooltipTemplate"
    [tooltipContext]="anchorValues"
    [tooltipImmediateExit]="true"
  />
</svg:g>
